<div class="hero bg-base-200 min-h-screen">
  <div class="hero-content flex-col lg:flex-row">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwDis5xA9WXAln19yi3AH5ti3dPpzRlGdC5Q&s" 
      class="w-full max-w-md rounded-lg shadow-3xl" />
    <div>
      <h1 class="text-5xl font-bold">Welcome to North Riding SDA Church</h1>
      <p class="py-6">
        Join us at North Riding SDA Church as we grow in faith and community. Our app offers resources for spiritual growth, upcoming events, and ways to connect with our congregation. Stay updated with sermons, announcements, and more. Let's journey together in Christ's love.
      </p>
      <button class="btn btn-primary">Explore for more</button>
    </div>
  </div>
</div>


